{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}

<h1> Bonjour {{nom}}</h1>
<div>
     <p><a class="btn btn-outline-primary" href="{{ path('compte_edit') }}">Edition espace profil</a></p>
     <p><a class="btn btn-outline-primary" href="{{ path('compte_commande') }}"> Visualiser mes commandes</a></p>
</div>


{% if isSuperAdmin == 1%}
<div>
     <p><a class="btn btn-outline-primary" href="{{ path('commande_panier') }}">Liste Panier non achetés</a></p>
     <p><a class="btn btn-outline-primary" href="{{ path('compte_user') }}">Liste utilisateurs</a></p>
</div>
{% endif %}
{% endblock %}
