{% extends 'base.html.twig' %}

{% block title %}{{ 'Compte.Titre'|trans }}{% endblock %}

{% block body %}

<div>

    <h1>{{ 'Compte.Nom'|trans( {'%nom%': nom }) }}</h1>
     <p><a class="btn btn-outline-primary" href="{{ path('compte_edit') }}">{{ 'Compte.Profil'|trans }}</a></p>
     <p><a class="btn btn-outline-primary" href="{{ path('compte_commande') }}">{{ 'Compte.Commande'|trans }}</a></p>



{% if isSuperAdmin == 1%}
<div>
     <p><a class="btn btn-outline-primary" href="{{ path('commande_panier') }}">{{ 'Compte.Panier'|trans }}</a></p>
     <p><a class="btn btn-outline-primary" href="{{ path('compte_user') }}">{{ 'Compte.User'|trans }}</a></p>
</div>
{% endif %}

{% endblock %}
