{% extends 'base.html.twig' %}

{% block title %}{{ 'Commande.Nom'|trans }}{% endblock %}

{% block body %}
    <h1>{{'Compte.User'|trans }}</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Global.Email'|trans }}</th>
                <th>{{ 'Global.Roles'|trans }}</th>
                <th>{{ 'Global.Nom'|trans }}</th>
                <th>{{ 'Global.Prenom'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user %}
            <tr>
                    <td>{{ user.email }} </td>
                    <td>{{ user.roles.0 }} </td>
                    <td>{{ user.nom}}</td>
                    <td>{{ user.prenom}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('compte_accueil') }}">{{ 'Global.Retour'|trans }}</a>

{% endblock %}
