{% extends 'base.html.twig' %}

{% block title %}Détail Commande{% endblock %}

{% block body %}
    <h1>{{ 'Compte.Panier'|trans }}</h1>
    {# {{dump(user_panier)}} #}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Global.Utilisateur'|trans }}</th>
                <th> N° {{ 'Global.Panier'|trans }}</th>
                <th>{{ 'ContenuPanier.Nom.Show'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user_panier %}
            <tr>
                    <td>{{ user.email }} </td>
                    <td>{{ user.id }} </td>
                    <td>🧺 Nom : {{ user.nom }} | Prix :{{ user.prix }} $ | Quantite : {{ user.quantite }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('compte_accueil') }}"> {{ 'Global.Retour'|trans }} </a>

{% endblock %}
