
{{ form_start(form) }}
    {{ form_row(form.etat, {
        label: 'Global.Etat'
    }) }}
    {{ form_row(form.utilisateur, {
        label: 'Global.Utilisateur'
    }) }}

    <button type="submit" class="btn btn-success">{{ 'Global.Valider'|trans }}</button>
{{ form_end(form) }}