{% extends 'base.html.twig' %}

{% block title %}{{ 'Panier.Titre.Edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Panier.Nom.Edit'|trans }}</h1>

    {% if isAdmin == 1 %}
        {{ include('panier/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('panier/_delete_form.html.twig') }}
        <a  class="btn btn-primary" href="{{ path('panier_index') }}">{{ 'Global.Retour'|trans }}</a>
    {% else %}
        <p>{{ 'Global.Acces'|trans }}</p>
    {% endif %}

{% endblock %}
