{% extends 'base.html.twig' %}

{% block title %}{{ 'Panier.Titre.Index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Panier.Nom.Index'|trans }}</h1>

    {% set montantTotal = 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Global.Nom'|trans }}</th>
                <th>{{ 'Global.Quantite'|trans }}</th>
                <th>{{ 'Global.Prix'|trans }}</th>
                <th>{{ 'Global.Montant'|trans }}</th>
                {% if isAdmin == 1 %}
                <th>{{ 'Global.Actions'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
            {% if panier.etat == false %}
                {% for contenu in panier.contenuPaniers %}
                    {% set montant = 0 %}
                        <td>{{ contenu.produit.nom }}</td>
                        <td>{{ contenu.quantite }}</td>
                        <td>{{ contenu.produit.prix }}</td>
                        {% set montant = contenu.quantite * contenu.produit.prix %}
                        <td>{{ montant }}</td>
                        <td>
                            {% if isAdmin == 1 %}
                                <a class="btn btn-primary" href="{{ path('panier_edit', {'id': panier.id}) }}">{{ 'Global.Modifier'|trans }}</a>                         
                            {% endif %}
                            <form method="post" action="{{ path('contenu_panier_delete', {'id': contenu.id}) }}" onsubmit="return confirm('{{ 'Panier.Supprimer'|trans }}');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contenu.id) }}">
                                <button class="btn btn-danger">{{ 'Global.Supprimer'|trans }}</button>
                            </form>
                        </td>
                        {% set montantTotal = montantTotal + montant %}
                    </tr>
                {% else %}
                        <td colspan="5">{{ 'Produit.Aucun'|trans }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">{{ 'Panier.Aucun'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5> {{ 'Panier.MontantTotal'|trans }} : {{ montantTotal }} </h5>

    {% for panier in paniers %}
        {% if panier.etat == false %}
            <a class="btn btn-primary" href="{{ path('panier_achat', {'id': panier.id}) }}">{{ 'Panier.Acheter'|trans }}</a>
        {% endif %}
    {% endfor %}

    {% if isAdmin == 1 %}
        <a class="btn btn-primary" href="{{ path('panier_new') }}">{{ 'Panier.Nom.New'|trans }}</a>
     {% endif %}

{% endblock %}
