{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    {% set montantTotal = 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                {% for contenu in panier.contenuPaniers %}
                    {% set montant = 0 %}
                        <td>{{ contenu.produit.nom }}</td>
                        <td>{{ contenu.quantite }}</td>
                        <td>{{ contenu.produit.prix }}</td>
                        {% set montant = contenu.quantite * contenu.produit.prix %}
                        <td>{{ montant }}</td>
                        <td>
                            <a class="btn btn-outline-secondary btn-sm" href="{{ path('panier_edit', {'id': panier.id}) }}">edit</a>
                        </td>
                        {% set montantTotal = montantTotal + montant %}
                    </tr>
                {% else %}
                        <td colspan="4">no records found</td>
                        <td>
                            <a class="btn btn-outline-secondary btn-sm" href="{{ path('panier_edit', {'id': panier.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5> Montant à payer : {{ montantTotal }} </h5>

    <a href="{{ path('panier_new') }}">Create new</a>
{% endblock %}
