{% extends 'base.html.twig' %}

{% block title %}{{ 'Panier.Titre.Show'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Panier.Nom.Show'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Global.Id'|trans }}</th>
                <td>{{ panier.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Global.DateAchat'|trans }}</th>
                <td>{{ panier.dateAchat ? panier.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Global.Etat'|trans }}</th>
                <td>{{ panier.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('panier_index') }}">{{ 'Global.Retour'|trans }}</a>

    {% if isAdmin == 1 %}
    <a class="btn btn-primary" href="{{ path('panier_edit', {'id': panier.id}) }}">{{ 'Global.Modifier'|trans }}</a>
    {{ include('panier/_delete_form.html.twig') }}
    {% endif %}
    
{% endblock %}
