{% extends 'base.html.twig' %}

{% block title %}ContenuPanier{% endblock %}

{% block body %}

    <h1>ContenuPanier</h1>
 
    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Montant</th>
                <th>Date Achat</th>
            </tr>
        </thead>
        <tbody>
        {% for p in panier %}
            {% set sum = 0 %}
            <tr>
                <td><a href="{{ path('commande_detail', {"id": p.id })}}">{{ p.id }} </a> </td>
                {% for contenu in contenu_panier %}
                    {% if p.id == contenu.id %}
                        {% set sum = sum + (contenu.prix * contenu.quantite) %}
                    {% endif %}
                {% endfor %} 
                <td>{{ sum }}</td>
                <td>{{ p.dateAchat ? p.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <a href="{{ path('contenu_panier_index') }}">back to list</a>
{% endblock %}
