{% extends 'base.html.twig' %}

{% block title %}Détail Commande{% endblock %}

{% block body %}
    <h1>Détail Commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Montant</th>
                <th>Date Achat</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commande_detail %}
            <tr>
                {% set montant = 0 %}
                    <td>{{ commande.nom }}</td>
                    <td>{{ commande.quantite }}</td>
                    <td>{{ commande.prix }}</td>
                    {% set montant = commande.quantite * commande.prix %}
                    <td>{{ montant }}</td>
                    <td>{{ commande.dateAchat ? commande.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-secondary" href="{{ path('compte_commande') }}"> Retour </a>

{% endblock %}
