{% extends 'base.html.twig' %}

{% block title %}{{ 'Produit.Titre.Index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Produit.Nom.Index'|trans }}</h1><br>

    <h5> {{ 'Login.Bienvenue'|trans( {'%nom%': user }) }} </h5><br>

    <a class="btn btn-outline-success btn-sm" href="{{ path('produit_new') }}">{{ 'Produit.Nom.New'|trans }}</a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Global.Nom'|trans }}</th>
                <th>{{ 'Global.Description'|trans }}</th>
                <th>{{ 'Global.Prix'|trans }}</th>
                <th>{{ 'Global.Stock'|trans }}</th>
                <th>{{ 'Global.Photo'|trans }}</th>
                {% if isAdmin == 1 %}
                <th>{{ 'Global.Actions'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a style="text-decoration:none;"href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.nom }}</a></td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.photo }}</td>
                {% if isAdmin == 1 %}
                <td>
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('produit_edit', {'id': produit.id}) }}">{{ 'Global.Modifier'|trans }}</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'Produit.Aucun'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
