{{ form_start(form) }}
        {{ form_row(form.email, {
            label: 'Global.Email'
        }) }}
        {{ form_row(form.prenom, {
            label: 'Global.Prenom'
        }) }}
        {{ form_row(form.nom, {
            label: 'Global.NomDeFamille'
        }) }}

        <button type="submit" class="btn btn-success">{{ 'Global.Valider'|trans }}</button>
    {{ form_end(form) }}