{% extends 'base.html.twig' %}

{% block title %}{{ 'User.Titre.Index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'User.Nom.Index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Global.Id'|trans }}</th>
                <th>{{ 'Global.Email'|trans }}</th>
                <th>{{ 'Global.NomDeFamille'|trans }}</th>
                <th>{{ 'Global.Prenom'|trans }}</th>
                <th>{{ 'Global.Password'|trans }}</th>
                <th>{{ 'Global.Roles'|trans }}</th>
                {% if isAdmin == 1 %}
                    <th>{{ 'Global.Actions'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {% if isAdmin == 1 %}
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">{{ 'Global.Voir'|trans }}</a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">{{ 'Global.Modifier'|trans }}</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'User.Aucun'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
