{% extends 'base.html.twig' %}

{% block title %}{{ 'User.Titre.New'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'User.Nom.New'|trans }}</h1>

    {% if isAdmin == 1 %}
        {{ include('produit/_form.html.twig') }}
        <a  class="btn btn-primary" href="{{ path('user_index') }}">{{ 'Global.Retour'|trans }}</a>
    {% else %}
        <p>{{ 'Global.Acces'|trans }}</p>
    {% endif %}
    
{% endblock %}
