{% extends 'base.html.twig' %}

{% block title %}{{ 'User.Titre.Show'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'User.Nom.Show'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Global.Id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Global.Email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'Global.NomDeFamille'|trans }}</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'Global.Prenom'|trans }}</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>{{ 'Global.Password'|trans }}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{{ 'Global.Roles'|trans }}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if isAdmin == 1 %}
    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">{{ 'Global.Modifier'|trans }}</a>
    {# {{ include('user/_delete_form.html.twig') }} #}
    {% endif %}
{% endblock %}
